<ion-view view-title="Playlist">
  <ion-content>
    <ion-list>
    <span ng-repeat="product in company.products">
      <ion-item class="item item-balanced" ng-show="(product.red_yellow_green === 'Green')">
        {{product.product_name}}
      </ion-item>
      <ion-item class="item item-energized" ng-show="(product.red_yellow_green === 'Yellow')">
        {{product.product_name}}
      </ion-item>
      <ion-item class="item item-assertive" ng-show="(product.red_yellow_green === 'Red')">
        {{product.product_name}}
      </ion-item>
    </span>
    </ion-list>
  </ion-content>
</ion-view>
